<html>
<head>
	<title> Index</title>
</head>
<body>
	<h1>Welcome to Sample app using Redis.</h1>
	<table>
		<tr>
			<td>Username: </td>
			<td>Email: </td>
			<td></td>
		</tr>
		<%= @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= link_to '<- Show', user_path(user.name) %></td>
			<td><%= link_to 'Edit', edit_user_path(user.name) %></td>
			<td><%= link_to 'Delete', user_path(user.name),:method => :delete %></td>
		</tr>
		<% end %>
	</table>
	<%= link_to 'Sign Up', signup_path %>
</body>
</html>
